@model VideoShare.ViewModels.VideoAddViewModel
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<div class="modal-header">
    <h5 class="modal-Name">Share Video</h5>
</div>
<form id="CreateTable" style="overflow: auto">
    <div class="modal-body">
        <div class="form-group">
            <label for="Name">Video Code(Ex: Bj62vrD6k-0)</label>
            <input type="text" placeholder="Paste Youtube Embed Video code" required class="form-control" name="Video_Link" id="Video_Link" value="@Model.Video_Link" />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="cancelBtn" class="btn btn-warning" data-dismiss="modal">Cancel</button>
        <button id="VideoSaveBtn" type="button" class="btn btn-primary">Save changes</button>
    </div>
</form>

<script>
    $("#VideoSaveBtn").click(function () {
        if ($("#CreateTable").valid()) {
           
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create", "Video")',
                data: $('#CreateTable').serialize(),
            })
            .done(function (response) {
                if (response.success) {
                    ReloadTable()
                    $("#FormModel").modal('hide');
                }
                else {
                    $("#errorDiv").html(response.message);
                    $("#errorDiv").show();
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });
        }
    });
</script>