@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/bootstrap.min.css" type="text/css">
<div>
    <div id="tableContainer">
        @{
            Html.RenderAction("VideoList");
        }
    </div>

    <hr />

    <div class="modal fade" id="FormModel" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content" id="contentArea">
            </div>
        </div>
    </div>



</div>
