@model VideoShare.ViewModels.VideoListViewModel

<button id="AddVideoBtn" class="action-btn btn btn-success mr-1" style="margin:5px 0 5px 0"  type="button">Add New Video</button>


<div class="container-fluid pb-video-container">
    <div class="col-md-10 offset-md-1">
        <h3 class="text-xs-center">@User.Identity.Name your shared videos</h3>
        <div class="row pb-row">
            @foreach (var video in Model.UserByVideos)
            {
                <div class="col-md-3 pb-video">
                    <iframe class="pb-video-frame" width="100%" height="230" src="https://www.youtube.com/embed/@video.Video_Link" frameborder="0" allowfullscreen></iframe>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="glyphicon glyphicon-thumbs-down">5</button>
                        <button type="button" class="glyphicon glyphicon-thumbs-up">2</button>
                        <button type="button" class="glyphicon glyphicon-facetime-video">200k</button>
                    </div>
                </div>

            }
        </div>
    </div>
</div>

<style>
    .pb-video-container {
        padding-top: 20px;
        background: #bdc3c7;
        font-family: Lato;
    }

    .pb-video {
        border: 1px solid #e6e6e6;
        padding: 5px;
    }

        .pb-video:hover {
            background: #2c3e50;
        }

    .pb-video-frame {
        transition: width 2s, height 2s;
    }

        .pb-video-frame:hover {
            height: 300px;
        }

    .pb-row {
        margin-bottom: 10px;
    }
</style>


<script>
        $("#AddVideoBtn").click(function () {
        $.ajax({
            type: "GET",
            url: '@Url.Action("Create", "Video")'

        })
            .done(function (response) {

                $('#FormModel').modal('toggle');
                $("#contentArea").html(response);

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });


        });

    function ReloadTable() {
        $.ajax({

            url:'@Url.Action("VideoList","Video")',
            method:'GET',

        })
           .done(function (response) {


               $("#tableContainer").html(response);


           })
           .fail(function (XMLHttpRequest, textStatus, errorThrown) {
               alert("FAIL");
           });

    }
</script>

